
	<div class="page no-border">
		<div class="page-inner p-none no-border">
			<section class="section-primary no-border p-0" style="background-color:#ffffff;padding-bottom:0px">
				<div class="container-fluid no-border p-0" id="custodian-product">
                    <div id="modal">
	<div id="modal-overlay"></div>
	<div id="modal-container">
		<div class="modal-main" id="loader-modal">
			<div>
				<img src="https://custodianplc.com.ng/img/loader.gif">
			</div>
		</div>
	</div>
</div>
<div class="container product-content">
	<div class="stepwizard col-md-12 formtop-width">
		<div class="stepwizard-row setup-panel">
			<div class="stepwizard-step">
				<a class="btn btn-primary disable btn-circle stepwizard-1" href="#step-2" type="button" disabled>1</a>
				<p>Personal Information</p>
			</div>
			<div class="stepwizard-step">
				<a class="btn btn-default disable btn-circle stepwizard-2" href="#step-2" type="button" disabled>2</a>
				<p>Beneficiary Details</p>
			</div>
			<div class="stepwizard-step">
				<a class="btn btn-default disable btn-circle stepwizard-3" href="#step-3" type="button">3</a>
				<p>Quote Summary</p>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:50px">
		<div class="col-md-12 order-md-1 order-2 form-sha">
			<form role="form" method="post" enctype="multipart/form-data">
<div class="row setup-content" id="step-1" style="display: flex;">
        <div class="col-md-12" style="padding: 20px 0px">
            <h3 class="text-center fontn">Summary</h3>
           <div class="row setup-content pady" id="step-3" style="margin:0px;">
                    <div class="col-md-12" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <section class="section-primary pt-none">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 mt-5" style="margin-top:40px;">
                                            <table class="table table-bordered text-start">
                                                <caption style="font-size: 16px;">Quotation Detail</caption>
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Client Name: </strong></td>
                                                        <td><span id="pre_client_name_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Product Name: </strong></td>
                                                        <td><span id="product_name_data">Capital Builder</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Quote Code: </strong></td>
                                                        <td><span id="reference_number_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Start Date: </strong></td>
                                                        <td><span id="start_date_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Payment Frequency: </strong></td>
                                                        <td><span id="payment_frequency_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Premium: </strong></td>
                                                        <td><span id="premium_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Policy Term: </strong></td>
                                                        <td><span id="policy_term_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Target Amount: </strong></td>
                                                        <td><span id="target_amount_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Life Sum Assured: </strong></td>
                                                        <td><span id="life_sum_assured_data"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p style="text-align: center;">
                                                                If you have questions about the status of your quotation, please contact:
                                                                carecentre@custodianinsurance.com
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <nav id="tp-and-ft-buttonset"
                                                class="c-breadcrumb-1 c-breadcrumb-1-onCheckout -style-icons pull-left">
                                                <ol class="c-breadcrumb-1-inner">
                                                    <li class="c-breadcrumb-1-item">
                                                        <a href="javascript:;"
                                                        onclick="#" class="c-breadcrumb-1-link">
                                                            <i class="c-breadcrumb-1-icon fa fa-download" aria-hidden="true"></i>
                                                            Download Quote
                                                        </a>
                                                    </li>

                                                    <li class="c-breadcrumb-1-item">
                                                        <a href="javascript:;"
                                                        onclick="#"
                                                        class="c-breadcrumb-1-link">
                                                            <i class="c-breadcrumb-1-icon fa fa-envelope" aria-hidden="true"></i>
                                                            Email Quote
                                                        </a>
                                                    </li>
                                                    <li class="c-breadcrumb-1-item">
                                                        <a href="javascript:;"
                                                        onclick="#"
                                                        class="c-breadcrumb-1-link">
                                                            <i class="c-breadcrumb-1-icon fa fa-envelope" aria-hidden="true"></i>
                                                            Save Quote
                                                        </a>
                                                    </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    	</form>
		</div>
	</div>
</div>