@{
    ViewData["Title"] = "Privacy Policy ";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
      <h1>Privacy Consent</h1>
      <p>By using our insurance application, you consent to our collection, use, sharing, and protection of your personal data as described in our Privacy Policy. We may share your personal data with insurers, claims handlers, and legal and regulatory authorities. You have the right to request access to, correction of, or erasure of your personal data. If you have any questions or concerns, please contact us at privacy@abcinsurance.com.</p>
      <button>Accept and Continue</button>
</div>