@section style{
	<link href="~/css/modal.css" rel="stylesheet" asp-append-version="true" />
}
@await Component.InvokeAsync("PageHeader", ViewData["productName"])
<div id="root">Form Placeholder</div>

@await Component.InvokeAsync("NavSection")
@section script{
	<script src="~/dist/prod-service.js" asp-append-version="true"></script>
	<script src="~/js/capital-builder/app.js" asp-append-version="true"></script>
}
