@model ProductVM
<section class="page-header b-bordered t-bordered hpadding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title mt-5"> @Model.ProductName</h1>
                <nav class="c-breadcrumb-1 -style-icons pull-right">
                    <ol class="c-breadcrumb-1-inner">
                        <li class="c-breadcrumb-1-item">
                            <a href="https://custodianplc.com.ng" class="c-breadcrumb-1-link">
                                <i class="c-breadcrumb-1-icon fa fa-home" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="c-breadcrumb-1-item">
                            <a href="#" class="c-breadcrumb-1-link">
                                <i class="c-breadcrumb-1-icon fa fa-file-text-o" aria-hidden="true"></i>
                                Life Insurance
                            </a>
                        </li>
                        <li class="c-breadcrumb-1-item">
                            <a href="#" class="c-breadcrumb-1-link">
                                <i class="c-breadcrumb-1-icon " aria-hidden="true"></i>
                               @Model.ProductName
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
